@Gudea: Gudea, "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
@HelveticaNeue: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;

@white: #ffffff;
@black: #000000;
@almostWhite: #f0f0f0;
@lightGray: #eeeeee;
@middleGray: #cccccc;
@mildGray: #afb0b2;
@gray: #444444;
@darkGray: #222222;
@blue: #0093d5;
@deepBlue: #00344b;

@headerHeight: 54px;
