<template>
  <div class="authentication">
    <a class="authentication__button" href="https://start.me/users/sign_in">
      <i class="fa fa-sign-in authentication__icon"></i>
      <span class="authentication__label">SIGN IN</span>
    </a>

    <a class="authentication__button authentication__button_inverted" href="https://start.me/">
      <span class="authentication__label">GET STARTED</span>
      <i class="fa fa-angle-right authentication__icon"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Authentication',
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.authentication {
  height: 100%;

  &__button,
  &__button:visited {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    height: 100%;
    line-height: @headerHeight;
    font-size: 15px;
    color: @gray;
  }

  &__button_inverted,
  &__button_inverted:visited {
    color: @white;
    background-color: @blue;
  }

  &__button:hover {
    background-color: @blue;
    color: @white;
  }

  &__button_inverted:hover {
    background-color: lighten(@blue, 10%);
  }

  &__icon + &__label,
  &__label + &__icon {
    margin-left: 4px;
  }
}
</style>
