<template>
  <div class="column">
    <Item class="column__item" v-for="item in items" :item="item" :key="item.title"></Item>
  </div>
</template>

<script>
import Item from '@/components/Item';

export default {
  name: 'Column',

  components: {
    Item,
  },

  props: {
    column: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    items() {
      return this.column.widgets || [];
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.column {
  &__item + &__item {
    margin-top: 20px;
  }
}
</style>
