<template>
  <div class="headerbar">
    <div class="headerbar__auth">
      <Authentication></Authentication>
    </div>

    <div class="headerbar__nav">
      <Navigation></Navigation>
    </div>

    <div class="headerbar__search">
      <span class="headerbar__searchbar"></span>
    </div>
  </div>
</template>

<script>
import Authentication from '@/components/Authentication';
import Navigation from '@/components/Navigation';

export default {
  name: 'HeaderBar',

  components: {
    Authentication,
    Navigation,
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/mixins.less";
@import (reference) "../assets/styles/_includes/variables.less";

.headerbar {
  height: @headerHeight;
  background-color: @white;
  padding: 0 10px;

  &:after {
    &:extend(.clear);
  }

  &__auth {
    float: right;
    height: 100%;
  }

  &__nav {
    float: left;
    height: 100%;
  }

  &__search {
    display: block;
    overflow: hidden;
    height: 100%;
    padding: 7px 30px;
    box-sizing: border-box;
  }

  &__searchbar {
    display: block;
    height: 100%;
    background-color: @gray;
  }
}

@media screen and (max-width: 620px) {
  .headerbar {
    &__search {
      display: none;
    }
  }
}
</style>
