<template>
  <div class="item">
    <div class="item__header">
      <i class="item__icon fa fa-bookmark"></i>
      <span class="item__title">{{ item.title }}</span>
    </div>

    <div class="item__content">
      <List :list="list.links"></List>
    </div>
  </div>
</template>

<script>
import List from '@/components/List';

export default {
  name: 'Item',

  components: {
    List,
  },

  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    list() {
      return this.item.items || [];
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.item {
  background-color: @white;
  box-shadow: 0px 2px 3px 0.5px fade(@black, 20%),
              0 0 1px 1px fade(@black, 5%);
  padding: 10px 12px;
  box-sizing: border-box;

  &__header {
    font-size: 0;
  }

  &__icon,
  &__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }

  &__icon {
    color: fade(@black, 25%);
  }

  &__title {
    position: relative;
    top: -2px;
    color: @darkGray;
    font-weight: bold;
  }

  &__icon + &__title {
    margin-left: 12px;
  }

  &__header + &__content {
    margin-top: 16px;
  }
}
</style>
