<template>
  <div class="list">
    <a class="list__link" :href="link.url" v-for="link in list">
      <img class="list__favicon" :src="link.favicon" alt="" />
      <span class="list__label">{{ link.title }}</span>
    </a>
  </div>
</template>

<script>
export default {
  name: 'List',

  props: {
    list: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/mixins.less";
@import (reference) "../assets/styles/_includes/variables.less";

.list {
  &__link {
    display: block;
  }

  &__link:after {
    &:extend(.clear);
  }

  &__link + &__link {
    margin-top: 8px;
  }

  &__favicon {
    float: left;
    width: 16px;
    margin-right: 8px;
  }

  &__label,
  &__label:visited {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: @gray;
  }

  &__link:hover > &__label {
    text-decoration: underline;
  }
}
</style>
