<template>
  <div class="navigation">
    <a class="navigation__logo" href="https://start.me" target="_blank">
      <img class="navigation__image" src="/static/images/logo.svg" alt="start.me" />
    </a>

    <a class="navigation__link navigation__link_separated" href="https://start.me/p/3gykOZ/guitar-tabs">Arjen Robijn</a>

    <a class="navigation__link navigation__link_bold" href="https://start.me/p/3gykOZ/guitar-tabs">Guitar tabs</a>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.navigation {
  height: 100%;
  font-size: 0;

  &__logo,
  &__link {
    display: inline-block;
    vertical-align: middle;
  }

  &__logo {
    width: 111px;
    height: 100%;
    padding: 14px 0 0;
    box-sizing: border-box;
  }

  &__image {
    display: block;
    width: 100%;
    font-size: 17px;
  }

  &__link,
  &__link:visited {
    font: normal 17px/@headerHeight @HelveticaNeue;
    color: @gray;
  }

  &__link_bold {
    font-weight: bold;
  }

  &__link_separated:after {
    content: '/';
    margin-left: 4px;
  }

  &__logo + &__link {
    margin-left: 10px;
  }

  &__link + &__link {
    margin-left: 4px;
  }
}

@media screen and (max-width: 950px) {
  .navigation {
    &__link_separated {
      display: none;
    }

    &__link + &__link {
      margin-left: 10px;
    }
  }
}
</style>
