<template>
  <div class="page" ref="page">
    <div class="page__header">
      <HeaderBar></HeaderBar>
    </div>

    <div class="page__content">
      <div class="page__subheader">
        <Subheader></Subheader>
      </div>

      <div class="page__columns">
        <div class="page__column" v-for="(column, index) in columns">
          <Column :column="column" :key="index"></Column>
        </div>
      </div>
    </div>

    <div class="page__footer">
      <PageFooter :is-expanded="isFooterExpanded"></PageFooter>
    </div>

    <div class="page__toggler">
      <Toggler @toggle="toggleFooter" :is-active="isFooterExpanded"></Toggler>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */

import Column from '@/components/Column';
import HeaderBar from '@/components/HeaderBar';
import PageFooter from '@/components/PageFooter';
import Subheader from '@/components/Subheader';
import Toggler from '@/components/Toggler';

export default {
  name: 'Page',

  components: {
    Column,
    HeaderBar,
    PageFooter,
    Subheader,
    Toggler,
  },

  data() {
    return {
      isFooterExpanded: false,
      pageData: this.$store.state.pageData || {},
    };
  },

  computed: {
    columns() {
      if (this.pageData && Object.keys(this.pageData).length > 0) {
        return this.pageData.page.sections[0].columns;
      }

      return [];
    },
    id() {
      return this.$route.params.id;
    },
  },

  methods: {
    toggleFooter() {
      this.isFooterExpanded = !this.isFooterExpanded;
    },
    getData() {
      this.pageData = this.$store.state.pageData[this.id];

      if (this.pageData !== undefined) {
        return;
      }

      this.fetchData();
    },
    fetchData() {
      this.$store.dispatch('getData', this.id)
        .then(() => {
          this.pageData = this.$store.state.pageData[this.id];
        })
        .catch((err) => {
          console.log('error', err);
        });
    },
  },

  created() {
    this.getData();
  },

  mounted() {
    setInterval(this.fetchData, 5000);
  },

  watch: {
    id() {
      this.getData();
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.page {
  position: relative;
  height: 100%;
  padding-top: @headerHeight;
  box-sizing: border-box;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 5px fade(@black, 20%);
    z-index: 2;
  }

  &__content {
    height: 100%;
  }

  &__subheader {
    height: @headerHeight;
  }

  &__columns {
    padding: 20px 10px 40px;
    box-sizing: border-box;
    font-size: 0;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
    width: 33.33333%;
    font-size: 14px;
    font-family: @HelveticaNeue;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__content + &__footer {
    margin-top: 226px;
  }

  &__toggler {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
</style>
