<template>
  <div :class="['pagefooter', {'pagefooter_expanded': isExpanded}]">
    <div class="pagefooter__container">
      <div class="pagefooter__column">
        <div class="pagefooter__subtitle">Company</div>

        <ul class="pagefooter__block">
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/about">About us</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="http://blog.start.me">Blog</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/careers">Jobs</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/contribute">Contribute</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/contribute">Feedback</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/terms">Terms of Service</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/privacy">Privacy Police</a>
          </li>
        </ul>
      </div>

      <div class="pagefooter__column">
        <div class="pagefooter__subtitle">Products</div>

        <ul class="pagefooter__block">
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en">For you</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en/teams">For teams</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en/education">For Education</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en/features">Features</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en/examples">Examples</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/en/pricing">Pricing</a>
          </li>
        </ul>
      </div>

      <div class="pagefooter__column">
        <div class="pagefooter__subtitle">Support</div>

        <ul class="pagefooter__block">
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support">Help</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/200053821-Introduction">Introduction</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/200052612-FAQ">FAQ</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/202587489-Premium-Features">Premium Features</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/200394101-For-Teams-Enterprises">Teams & Enterprise</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/201876789-Troubleshooting">Troubleshooting</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link" href="https://start.me/support/sections/200053752-Widgets">Widgets</a>
          </li>
        </ul>
      </div>

      <div class="pagefooter__column">
        <div class="pagefooter__subtitle">Browsers</div>

        <ul class="pagefooter__block">
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_chrome" href="https://start.me/support">Chrome</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_firefox" href="https://start.me/support/sections/200053821-Introduction">Firefox</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_bookmarklet" href="https://start.me/support/sections/200052612-FAQ">Bookmarklet</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_setstart" href="https://start.me/support/sections/202587489-Premium-Features">Set as startpage</a>
          </li>
        </ul>
      </div>
      <div class="pagefooter__column">
        <div class="pagefooter__subtitle">Follow us</div>

        <ul class="pagefooter__block">
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_facebook" href="https://start.me/support">Facebook</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_google" href="https://start.me/support/sections/200053821-Introduction">Google+</a>
          </li>
          <li class="pagefooter__line">
            <a class="pagefooter__link pagefooter__link_iconed pagefooter__link_twitter" href="https://start.me/support/sections/200052612-FAQ">Twitter</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="pagefooter__toggler"></div>
  </div>
</template>

<script>
export default {
  name: 'PageFooter',

  props: {
    isExpanded: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.pagefooter {
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: @deepBlue;
  font-family: @HelveticaNeue;

  &_expanded {
    height: auto;
    padding: 20px 10px 48px;
  }

  &__container {
    width: 100%;
    font-size: 0;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: bold;
    color: @mildGray;
  }

  &__block {
    font-size: 12px;
    line-height: 16px;
  }

  &__subtitle + &__block {
    margin-top: 10px;
  }

  &__line + &__line {
    margin-top: 6px;
  }

  &__link,
  &__link:visited {
    color: @almostWhite;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link_iconed {
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;
    box-sizing: border-box;
  }

  &__link_chrome {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 0px;
  }

  &__link_firefox {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -32px;
  }

  &__link_bookmarklet {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -64px;
  }

  &__link_setstart {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -144px;
  }

  &__link_facebook {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -80px;
  }

  &__link_google {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -128px;
  }

  &__link_twitter {
    background: transparent url(/static/images/footer-icons.png) no-repeat 0 -96px;
  }
}
</style>
