<template>
  <ul class="subheader">
    <li :class="['subheader__item', {'subheader__item_active': isPage('3gykOZ')}]">
      <span class="subheader__button" v-if="isPage('3gykOZ')">Coldplay Start Page</span>
      <router-link class="subheader__button" to="/3gykOZ" v-else>Coldplay Start Page</router-link>
    </li>
    <li :class="['subheader__item', {'subheader__item_active': isPage('ZXaYzy')}]">
      <span class="subheader__button" v-if="isPage('ZXaYzy')">Demo Page 2 for Prototype</span>
      <router-link class="subheader__button" to="/ZXaYzy" v-else>Demo Page 2 for Prototype</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Subheader',

  methods: {
    isPage(id) {
      return this.$route.params.id === id;
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.subheader {
  height: 100%;
  background-color: fade(@darkGray, 80%);
  padding: 0 22px;
  box-sizing: border-box;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    box-sizing: border-box;
  }

  &__item:hover,
  &__item_active {
    border-bottom: 5px solid @middleGray;
  }

  &__item + &__item {
    margin-left: 24px;
  }

  &__button,
  &__button:visited {
    color: @middleGray;
    font-size: 17px;
    line-height: @headerHeight;
  }

  &__item:hover > &__button,
  &__item_active > &__button {
    color: @white;
  }
}
</style>
