<template>
  <div :class="['toggler', {'toggler_active': isActive}]">
    <a class="toggler__link" @click="emitToggle">
      <span class="toggler__copyright">©2017 start.me</span>
      <i class="toggler__icon fa fa-fw fa-chevron-up"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Toggler',

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    emitToggle() {
      this.$emit('toggle');
    },
  },
};
</script>

<style lang="less">
@import (reference) "../assets/styles/_includes/variables.less";

.toggler {
  &__link {
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    font-size: 12px;
    border-radius: 14px 14px 0 0;
    font-family: @HelveticaNeue;
    color: @white;
    text-align: center;
    text-shadow: 1px 1px @black,
                 0 0 2px @black;
    cursor: pointer;
  }

  &__link:hover {
    background-color: fade(@black, 10%);
  }

  &_active > &__link:hover {
    background-color: transparent;
  }

  &__copyright {
    user-select: none;
  }

  &_active &__icon {
    transform: rotate(180deg);
  }
}
</style>
