<template>
  <div id="app">
    <Page></Page>
  </div>
</template>

<script>
import Page from '@/components/Page';

export default {
  name: 'App',

  components: {
    Page,
  },
};
</script>

<style lang="less">
@import url('https://fonts.googleapis.com/css?family=Gudea:400,700');
@import './assets/styles/app.less';

#app {
  width: 100%;
  min-height: 100%;
}
</style>
